body {
    padding-bottom: 100px;
}

ol.list-unstyled {
    counter-reset: line 1;
    list-style-type: none;
}

ol.list-unstyled > li:before {
    counter-increment: line;
    content: counters(line,".") ". ";
}

ol.list-unstyled > li {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

#front ul li {
    font-weight: bold;
}

#front ul ul li {
    font-weight: normal;
}

#front ul ul#tododone li {
    text-decoration: line-through;
}

#doc textarea[name=root\[content\]] {
    height: 300px;
}
